section.mission {
  height: 100vh;
  background-image: linear-gradient(#04070A, #343d7A);
}

.mission-word {
  font-size: 3em;
  font-weight: bold;
  transform: scaleY(1.7);
  color: #B97C9F;
  display: flex;
  justify-content: center;
}

.mission-row {
  padding: 15%;
}
.mission {
  text-align: center;
  color: #cbbdbd;
}
/* #95403F */

.event-row {
  display:flex;
  justify-content: center;
}

.events {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 480px;
  /* text-align: center; */
  border-color: #f29f5a;
  background: transparent;
  /* margin-top: 5%; */
}

.events:hover{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  text-align: center;
  background: #B97C9F;
  margin-top: 5%;
  transition: all .4s ease;
-webkit-transition: all .4s ease;
}

/* .calendar {
  z-index: -100;
font-size: 21em;
}
.calendar-content{
  position: absolute;
  z-index: 100;
  margin-left:75px;
  margin-top: 250px;
  color: pink !important;
 
}
.calendar-content-date{
  position: absolute;
  z-index: 100;
  margin-left: 90px;
  margin-top: 300px;
  color: pink !important;
}
.calendar-content-register{
  position: absolute;
  z-index: 100;
  margin-left: 125px;
  margin-top: 350px;
  color: pink !important;
} */
.events-header {
  font-size: 4em;
  font-weight: bold;
  color: #B97C9F;
  display: flex;
  justify-content: center;
}
.event-link{
  margin-top:80px;
  text-decoration: none !important;
}

.event-image {
  height: 100% !important;
  width: 50vw !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: .7s;
}

.event-image:hover {
  height: 100% !important;
  width: 53vw !important;
-moz-box-shadow: 0 0 25px #fff;
-webkit-box-shadow: 0 0 25px #fff;
box-shadow: 0px 0px 25px #fff;
transition-duration: .7s;
}