section.mission {
  height: 100vh;
  background-image: linear-gradient(#04070A, #713E47);
}
/* #B97C9F */
section.events-section {
  height: 80vh;
  background-color: #e2b9c3;
}

.mission {
  text-align: center;
  color: #95403F;

}

.event-row {
  display:flex;
  justify-content: center;
}

.events {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 480px;
  text-align: center;
  border-color: #f29f5a;
  background: transparent;
  margin-top: 5%;
  border:1px solid red;
}
.events:hover{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #B97C9F;
  margin-top: 5%;
}

.event-link{
  /* z-index: 100; */
  text-decoration: none !important;
  color: white;
  font-size: 50px;
  /* padding-top:400px !important; */
  /* display:flex; */
  /* align-items: baseline */
  
}

.event-link:hover{
  text-decoration: none !important;
  color: #76568D !important;
  font-weight: bold;
  /* font-size: 55px; */

}