/* Team */
section.TeamWrapper  {
  height: 100vh;
  background-color: #713E47;
  /* padding: 10px; */
}
.team-title {
  /* background-color: pink; */
  font-size: 6em;
  font-weight: bold;
  color: #B97C9F;
  display: flex;
  justify-content: center;
}
/* .team-title-row {
  z-index: 100;
  margin-top: 200px;
} */

.team-container {
  padding: 15px;
  min-height: 400px;
  /* display: flex;
  justify-content: left; */

}
.teamCard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5%;
  /* background-color: lightgrey; */
}

.boardImage{
  padding: 10px;
}


.team-name{
  display: flex;
  justify-content: center;
  /* background-color: rgba(255, 255, 255, 0.426); */
  padding: 10px;
  color: #f29f5a;
  font-weight: bold;
  
}


.team-bio-content {
  color: #f29f5a;
  /* background-color: rgba(255, 255, 255, 0.611); */
  min-height: 220px;
  /* display: flex;
  justify-content: center; */
}

.team-bio-font{
  font-size: .7em;
  padding: 50px;
}

.linkedin {
  text-decoration: none !important;
  color: #f29f5a;
  display:flex;
  justify-content: space-around;
}

.linkedin:hover {
  text-decoration: pink !important;
}