/* Team */
.TeamWrapper {
  padding: 10px;

}
.team-title {
  background-color: pink;
  padding: 2%;
  border-radius: 25px;
  text-align: center;
}
/* .team-title-row {
  z-index: 100;
  margin-top: 200px;
} */

.team-container {
  padding: 15px;
  min-height: 400px;
  /* display: flex;
  justify-content: left; */

}
.teamCard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5%;
  background-color: lightgrey;
}

.boardImage{
  padding: 10px;
}


.team-name{
  display: flex;
  justify-content: flex-end;
  background-color: white;
  padding: 10px;
  
}


.team-bio-content {
  background-color: white;
  min-height: 220px;
  /* display: flex;
  justify-content: center; */
}

.team-bio-font{
  /* display: flex;
  justify-content: left; */
  font-size: .6em;
  padding: 50px;
}

.linkedin {
  text-decoration: none !important;
}

.linkedin:hover {
  text-decoration: pink !important;
}